<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Default Title{% endblock%}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<!-- This is the nav base. It's where the nav bar links live.  -->
<body>
    <!-- Website Banner -->
    <!-- <div class="banner">
    <h1> Zamn Labs </h1>
    <img src="/static/colorful-2174045_1280.webp" alt="Logo or Header Here">
    </div> -->
    <!-- End of Banner -->

<!-- Nav Bar -->

<header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('cover') }}">Zamn Labs</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('projects') }}">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('articles') }}">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('about') }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('contact') }}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('upload') }}">Upload Article</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- <div class="nav-bar">
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('projects') }}">Projects</a></li>
            <li><a href="{{ url_for('articles') }}">Articles</a></li>
            <li><a href="{{ url_for('about') }}">About Zamn</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('upload') }}">Upload Article </a></li>
        </ul>
    </nav>
</div> -->
<!-- End of Nav Bar -->
<main>
    {% block content %}
    
    {% endblock %}
</main>

<footer>

</footer>
</body>
</html>